## Gradle
/local.properties
.gradle/
gradle-app.setting
.idea/
*/build/
build/
dist/
.kotlin
.externalNativeBuild
.cxx
local.properties
.oauth_client_id.txt
.store_password.txt
.key_password.txt
.curseforge_api.txt
*.iml
.DS_Store
/captures

kls_database.db
